In [14]:
print('Hello World')

Hello World

```
print('Hello World')
```

Check out _h_ __M__.

In [15]:
name = "Dan"
age = 37

In [16]:
print(name + ' is ' + str(age))

Dan is 37

### Python data access

In [17]:
from sklearn import datasets
iris_dataset = datasets.load_iris()
X = iris_dataset.data[:, :2]

x_count = len(X.flat)
x_mean = X[:, 0].mean()

x_count, x_mean

(300, 5.843333333333334)

### Python pandas in Jupyter

In [18]:
from pandas import *

data = read_csv('/Users/tdongsi/Matrix/python/jupyter/data.csv')
data.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [19]:
#no_one = data(data['COUNT PARTICIPANTS'] == 0)
#no_one.head()

TypeError: 'DataFrame' object is not callable

### Python Graphics in Jupyter

In [21]:
# import matplotlib

df = pandas.DataFrame(data=data, columns=['JURISDICTION NAME', 'COUNT PARTICIPANTS'])
df['COUNT PARTICIPANTS'].plot()

ModuleNotFoundError: No module named 'matplotlib'